/node_modules
/public/storage
/public/photos
/public/img/gallery
/public/img/video
/vendor
/public/js
/public/css/app.css
/public/css/app.css.map
/.idea
/resources/assets/bower
Envoy.blade.php
Homestead.json
Homestead.yaml
.env
test.php
.DS_Store
